// ------------------------------------------------------------------
// UI Variables
// ------------------------------------------------------------------

// Colors
// ------------------------------------------------------------------

@white: #fff;

// Base16 - Ocean - http://chriskempson.github.io/base16/#ocean

@base16-gray-dark-ui: #232830;
@base16-gray-darker-ui: #1C1F26;
@base16-gray-light-ui: #727A84;

@base16-00: #2B303B; // Dark Gray
@base16-01: #343D46;
@base16-02: #4F5B66;
@base16-03: #65737E; // Gray Comment Text
@base16-04: #A7ADBA;
@base16-05: #C0C5CE; // Gray
@base16-06: #DFE1E8;
@base16-07: #EFF1F5; // Light Gray White
@base16-08: #BF616A; // Red
@base16-09: #D08770; // Orange
@base16-0A: #EBCB8B; // Yellow
@base16-0B: #A3BE8C; // Light Lime Green
@base16-0C: #96B5B4; // Mintish Teal
@base16-0D: #8FA1B3; // Gray Light Blue Text
@base16-0E: #B48EAD; // Pinkish Purple
@base16-0F: #AB7967;

// Colors to Things
// ------------------------------------------------------------------

@text-color: @base16-02;
@text-color-subtle: @base16-01;
@text-color-highlight: @white;
@text-color-selected: @text-color-highlight;

@text-color-info: @base16-0D;
@text-color-success: @base16-0B;
@text-color-warning: @base16-0A;
@text-color-error: @base16-08;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: @base16-0D;
@background-color-success: @base16-0B;
@background-color-warning: @base16-09;
@background-color-error: @base16-08;
@background-color-highlight: rgba(255, 255, 255, 0.07);
@background-color-selected: @base16-0D;

@app-background-color: @base16-00;

@base-background-color: lighten(@tool-panel-background-color, 5%);
@base-border-color: rgba(0, 0, 0, 0.5);

@pane-item-background-color: @base-background-color;
@pane-item-border-color: rgba(0, 0, 0, 0.5);

@input-background-color: @base16-00;
@input-border-color: @base-border-color;
@input-placeholder-color: lighten(@base16-01, 3%);

@tool-panel-background-color: @base16-gray-darker-ui;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: @base16-gray-darker-ui;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: @base16-01;
@panel-heading-text-color: @base16-04;

@overlay-background-color: @base16-gray-darker-ui;
@overlay-border-color: @background-color-highlight;

@button-background-color: @base16-00;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: @base16-02;
@button-border-color: @base-border-color;
@button-text-color: @base16-03;

@tab-bar-background-color: @base16-gray-darker-ui;
@tab-bar-border-color: darken(@tab-background-color-active, 10%);
@tab-background-color: @base16-gray-darker-ui;
@tab-background-color-active: @base16-00;
@tab-border-color: @base16-gray-darker-ui;

@tree-view-background-color: @tool-panel-background-color;
@tree-view-border-color: @tool-panel-border-color;

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: @base16-0E; // purple
@ui-site-color-5: @base16-0A; // yellow

// Sizes

@font-size: 13px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Other

@font-family: 'Source Code Pro', 'Lucida Grande', 'Segoe UI', sans-serif;
